<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qinchao.cms.mapper.custom.DatalibrarysManageCustomMapper" >
  <resultMap id="BaseResultMap" type="com.qinchao.cms.entity.custom.DatalibrarysCustomBean" >
    <id column="DataBaseID" property="databaseid" jdbcType="INTEGER" />
    <result column="DataBaseName" property="databasename" jdbcType="VARCHAR" />
    <result column="DataBaseCName" property="databasecname" jdbcType="VARCHAR" />
    <result column="Description" property="description" jdbcType="VARCHAR" />
    <result column="MouldID" property="mouldid" jdbcType="INTEGER" />
    <result column="Status" property="status" jdbcType="INTEGER" />
    <result column="MouldName" property="mouldname" jdbcType="VARCHAR" />
    <result column="StatusName" property="statusname" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

  <sql id="Base_Column_List" >
    DataBaseID, DataBaseName, DataBaseCName, a.Description, a.MouldID as MouldID, Status,b.MouldName as MouldName,c.DicName as StatusName
  </sql>

  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qinchao.cms.entity.custom.DataLibrarysManageSearchBean" >
    select
    <include refid="Base_Column_List" />
    from db_datalibrarys a left join db_moulds b on a.MouldID = b.MouldID
    left join base_dics c on a.Status = c.DicValue
    where c.isdictype = 0 and c.dictype = 'globalstatus'
    <if test="databaseName != null and databaseName != ''" >
    	and DataBaseName = #{databaseName}
    </if>
    <if test="databaseCName != null and databaseCName != ''" >
    	and DataBaseCName = #{databaseCName}
    </if>
    <if test="status != null and status != ''" >
    	and Status = #{status}
    </if>
    <if test="mouldId != null and mouldId != ''" >
    	and a.MouldID = #{mouldId}
    </if>
    order by DataBaseID desc
  </select>

  <select id="countByExample" parameterType="com.qinchao.cms.entity.custom.DataLibrarysManageSearchBean" resultType="java.lang.Integer" >
    select count(a.DataBaseID)
    from db_datalibrarys a left join db_moulds b on a.MouldID = b.MouldID
    left join base_dics c on a.Status = c.DicValue
    where c.isdictype = 0 and c.dictype = 'globalstatus'
    <if test="databaseName != null and databaseName != ''" >
    	and DataBaseName = #{databaseName}
    </if>
    <if test="databaseCName != null and databaseCName != ''" >
    	and DataBaseCName = #{databaseCName}
    </if>
    <if test="status != null and status != ''" >
    	and Status = #{status}
    </if>
    <if test="mouldId != null and mouldId != ''" >
    	and a.MouldID = #{mouldId}
    </if>
  </select>


  <!-- 检查唯一性 -->
  <select id="checkUniqueness" resultType="java.lang.Integer" parameterType="com.qinchao.cms.entity.custom.DatalibrarysCustomBean" >
    select count(DataBaseID) from db_datalibrarys
    <where>
        <if test="databaseid != null and databaseid != ''">
           and DataBaseID != #{databaseid}
        </if>
        <if test="databasename != null and databasename != ''">
           and DataBaseName = #{databasename}
        </if>
    </where>
  </select>
  <delete id="deleteBatch" parameterType="java.lang.String" >
    delete from db_datalibrarys
    where DataBaseID in
    <foreach item="dbMsg" collection="list" open="(" separator="," close=")">
	#{dbMsg}
	</foreach>
  </delete>
  <insert id="insertSelective" parameterType="com.qinchao.cms.entity.custom.DatalibrarysCustomBean" useGeneratedKeys="true" keyProperty="databaseid" >
    insert into db_datalibrarys
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="databaseid != null" >
        DataBaseID,
      </if>
      <if test="databasename != null" >
        DataBaseName,
      </if>
      <if test="databasecname != null" >
        DataBaseCName,
      </if>
      <if test="description != null" >
        Description,
      </if>
      <if test="mouldid != null" >
        MouldID,
      </if>
      <if test="status != null" >
        Status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="databaseid != null" >
        #{databaseid,jdbcType=INTEGER},
      </if>
      <if test="databasename != null" >
        #{databasename,jdbcType=VARCHAR},
      </if>
      <if test="databasecname != null" >
        #{databasecname,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="mouldid != null" >
        #{mouldid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.qinchao.cms.entity.custom.DatalibrarysCustomBean" >
    update db_datalibrarys
    <set >
      <if test="databasename != null" >
        DataBaseName = #{databasename,jdbcType=VARCHAR},
      </if>
      <if test="databasecname != null" >
        DataBaseCName = #{databasecname,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        Description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="mouldid != null" >
        MouldID = #{mouldid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where DataBaseID = #{databaseid,jdbcType=INTEGER}
  </update>

  <update id="dropTable">
    drop table if exists ${tableName}
  </update>

  <update id="createNewTable" parameterType="String">
     ${sql}
  </update>
  <update id="alterTable" parameterType="String" >
     ${sql}
  </update>

  <select id="showColumns" parameterType="String" resultType="java.lang.String" >
     select COLUMN_NAME from information_schema.COLUMNS where table_name = #{tableName,jdbcType=VARCHAR};
  </select>

  <select id="getResCount" parameterType="String" resultType="java.lang.Integer" >
     ${sql}
  </select>
  <update id="editRes" parameterType="String" >
     ${sql}
  </update>

  <select id="checkunique" parameterType="String" resultType="java.lang.Integer">
     ${sql}
  </select>

  <select id="getResList" parameterType="String" resultType="java.util.LinkedHashMap" >
     ${sql}
  </select>

  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select distinct db.* from db_datalibrarys db,base_mgdatalibrary u where u.UserID = #{userId,jdbcType=VARCHAR}
  </select>
</mapper>
